*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.header-container{
    
}
.header-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #fd6e0a;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 230px;
}
.nav-items{
    display: flex;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
    color: #474747;
    font-weight: 400;
}
.btn-primary{
    width: 150px;
    height: 64px;
    background-color: #fd6e0a;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
}
/* Banner styling */
